<h1 class="d-flex justify-content-center">Нянстаграм</h1>
<h3 class="d-flex justify-content-center">с блекджеком и котиками o(>ω<)o</h3>

<div class="d-flex justify-content-center">

  <form action="formposts" method="POST">

    <div class="form-floating">
      <textarea name="textArea" class="form-control" placeholder="Ваш постмяу" style="height: 100px"></textarea>
      <label for="floatingTextarea2">Ваш постмяу</label>
    </div>
    <div>
      {{!-- <input name="image" type="file" id="userImage" /> --}}
      <input name="image" class="my-2" type="text" id="userImage" placeholder="Ссылка на картинку..." />
    </div>
    <input class="btn btn-primary my-2" type="submit" id="uploadImage" value="Отправмяу" />

  </form>

</div>

<hr />


<section data-posts class="row">
  {{#each listOfPosts}}
    <div data-post_id="{{this.id}}" class="card mx-2 my-2" style="width: 18rem;">
      <img src={{this.image}} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{this.authorName}}</h5>
        <p class="card-text">{{this.textArea}}</p>
      </div>
      {{!-- <span>Id: {{this.authorId}}</span> --}}
      {{!-- <button data-remove_post class="btn btn-danger my-2 mx-5">
        Delete
      </button> --}}
      <div>
        <i data-remove_post class="bi bi-x-octagon-fill"></i>
      </div>
    </div>  
  {{/each}}
</section>